@import url("https://use.typekit.net/ebb2deg.css");

* {
  box-sizing: border-box;
}

.content {
  height: 100vh;
  padding: 3em 0;
  background-color: #1b1b1b;
}

.game_screen {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
  border: 10px solid #fff;
  background: #333;
  border-radius: 3rem;
  box-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 24px #f5b70c, 0 0 16px #f5b70c,
    0 0 24px #f5b70c, inset 0 0 10px #f5b70c;
}

h1 {
  font-size: 3em;
  color: #e83435;
  font-family: "gloridot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 70%;
}

.btn_wrap {
  position: relative;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.btn_wrap button {
  position: relative;
  width: 8em;
  height: 6em;
  margin: 0 1em;
  border-radius: 50%;
  top: 0;
  outline: 0;
}

.btn_wrap button.scissor {
  background-color: #e83435;
  border-top: 1px solid #eb9696;
  border-left: 1px solid #eb9696;
  border-right: 1px solid #b12323;
  border-bottom: 1px solid #b12323;
}

.btn_wrap button:active:before {
  top: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2);
}

.btn_wrap button:active {
  top: 4px;
}

.btn_wrap button:before {
  width: 8em;
  height: 6em;
  display: inline-block;
  content: "";
  position: absolute;
  top: 10px;
  left: -2px;
  right: 0;
  background: red;
  border-radius: 50%;
  z-index: -1;
}
